<table mat-table [dataSource]="parks" class="mat-elevation-z8">

  <ng-container matColumnDef="class">
    <th mat-header-cell *matHeaderCellDef> Class </th>
    <td mat-cell *matCellDef="let element"> {{element.properties.class}} </td>
  </ng-container>

  <ng-container matColumnDef="league">
    <th mat-header-cell *matHeaderCellDef> League </th>
    <td mat-cell *matCellDef="let element"> {{element.properties.league}} </td>
  </ng-container>

  <ng-container matColumnDef="team">
    <th mat-header-cell *matHeaderCellDef> Team </th>
    <td mat-cell *matCellDef="let element"> {{element.properties.team}} </td>
  </ng-container>

  <ng-container matColumnDef="ballpark">
    <th mat-header-cell *matHeaderCellDef> Ballpark </th>
    <td mat-cell *matCellDef="let element"> {{element.properties.ballpark}} </td>
  </ng-container>

  <ng-container matColumnDef="lat">
    <th mat-header-cell *matHeaderCellDef> Lat </th>
    <td mat-cell *matCellDef="let element"> {{element.properties.lat}} </td>
  </ng-container>


  <ng-container matColumnDef="long">
    <th mat-header-cell *matHeaderCellDef> long </th>
    <td mat-cell *matCellDef="let element"> {{element.properties.long}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>